doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Add product
        link(rel="stylesheet", href="/css/style.css")
    body
        header.mainHeader
            nav.mainHeader__nav
                ul.mainHeader__items
                    li.mainHeader__item 
                        a(href="/") Shop
                    li.mainHeader__item.active
                        a(href="/admin/add-product") Add Product

        main
            form.form(action="/admin/add-product" method="POST")
                label.form__labe(for="title") Title
                input.form__input#title(type="text", name="title", placeholder="Title...")
                button.form__btn(type="submit") Add
