doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 404 | Not found
        link(rel="stylesheet", href="/css/style.css")
    body
        header.mainHeader
            nav.mainHeader__nav
                ul.mainHeader__items
                    li.mainHeader__item
                        a(href="/") Shop
                    li.mainHeader__item
                        a(href="/admin/add-product") Add Productsss 
        h1 What are you doing here?
        h2 Go back...