<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page not found</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>What are you doing here?</h1>
    <h2>Go back...</h2>
    <header class="mainHeader">
        <nav class="mainHeader__nav">
            <ul class="mainHeader__items">
                <li class="mainHeader__item"><a href="/">Shop</a></li>
                <li class="mainHeader__item active"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>