*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mainHeader{
    width: 100%;
    height: 3.5rem;
    background-color: #30709b;
}
.mainHeader__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.mainHeader__items{
    display: flex;
    list-style: none;

}
.mainHeader__item {
    margin-right: 2rem;
    border-bottom: 1px solid transparent;
    transition: border-bottom .3s ease;
}
.mainHeader__item.active{
    border-color: #043d63;
}
.mainHeader__item:hover {
    border-color: #043d63;
}

.mainHeader__item a {
    text-decoration: none;
    color: #e1f0fa;
}

main {
    padding: 2rem;
}
