<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="flex justify-center content-center h-screen p-8">
    <div class="rounded-3xl overflow-hidden shadow-xl max-w-xs my-3 bg-blue-500">
        <img src="https://i.imgur.com/dYcYQ7E.png" class="w-full" />
      <div class="flex justify-center -mt-8">
          <img src="https://i.imgur.com/8Km9tLL.jpg" class="rounded-full border-solid border-white border-2 -mt-3">		
      </div>
      <div class="text-center px-3 pb-6 pt-2">
          <h3 class="text-white text-sm bold font-sans"><%= username %></h3>
          <p class="mt-2 font-sans font-light text-white">Hello, i'm from another the other side!</p>
      </div>
        <div class="flex justify-center pb-3 text-white">
        <div class="text-center mr-3 border-r pr-3">
          <h2>34</h2>
          <span>Photos</span>
        </div>
        <div class="text-center">
          <span><a href="auth/local/logout">Logout</a></span>
        </div>
        </div>
  </div>
</body>
</html>